 *{
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    background-color: #FDF0E9;
    font-family: 'Epilogue', sans-serif;
    margin: 0 auto;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand img {
    background-color: #28293E;
}
/* navbar   */
.navbar {
    font-size: 18px;
    background-color: #28293E;
    padding-bottom: 10px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  .contact-btn {
    border: 1px solid rgba(255, 255, 255, 0.295743);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
   
   
  }
  .contact-btn a {
    display: inline-block;
    margin-right: 20px;
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  .blog {
    margin-right: 250px;
  }
 


  /* navbar end  */

/* // banner styles */

.banner {
    background-color: #28293E;
    height: 25em;

}
nav {
    position: relative;
}
.banner-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}
.banner-text h1 {
    font-weight: 800;
    font-size: 4.5em;
    line-height: 2em;
    color: #FFFFFF;
}
.banner-text p {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2em;
    font-size: 1em;
}
.margin-two-side {
    margin-left: 8.4375em;
    margin-right: 8.4375em;
  
}
/* cards style  */
.card-container {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 4.37em; */
}
.card {
    max-width: 33em;
    height: 35em;
 }
.img-container{
    max-width: 320em;
    height: 21em;
    margin: 0;
    padding: 0;
}
.img-container img {
    width: 100%;
    height: auto;
}
.card-type {
    display: inline-block;
    font-size: 1.64em;
    margin-top: 26px;
    margin-bottom: 15px;
} 
.card-date {
    display: inline-block;
    font-size: 1em;
    margin-top: 12px;
    
}
.card-text0 {
    margin-top: -2.5em;
    width: 23.25em;
}
.card-title1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}
 
/* rest cards  */
.rest-card {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin: 4.5em auto;
}
.card1 {
    max-width: 23em;
    height: 25em;
    margin-bottom: 4em;
}
.img-container2{
    width: 20em;
    height: 14em;
}
.img-container2 img {
    width: 100%;
    height: 100%;
}
.card-title2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px; 
}
.card-text {
    width: 21.25em;
}
.load-more-btn {
    width: 10.5em;
    height: 3em;
    margin: auto;
    margin-bottom: 5em;
}
.load-more-btn button {
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border: none;
    padding: .8em 1.3em;
}
.subscription {
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
}
.subscription h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    
}
.subscription input {
    background: #FFFFFF;
    border: 1px solid #F3D1BF;
    box-sizing: border-box;
    border-radius: 6px;
    width: 23em; 
    height: 3em;
    outline: none;
    padding-left: .5em;
}
.subscription button {
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    width: 9em;
    height: 3em;
    margin-left: 1.8em;
    border: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #391400;
}
.banner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#EF6D58;
    border-radius: 6px;
    opacity: .95;
}
.banner2-text {
    width: 30em;
}
.banner2-text h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    letter-spacing: -1px;
}
.banner2-text p {
    font-size: 1em;
    line-height: 2em;
    color: rgba(255, 255, 255, 0.64);
    font-weight: normal;
}
.banner2-text button {
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border-radius: 6px;
    border: none;
    margin-top: 2em;
    padding: 1.3em 2em;
}
.footer-container {
    margin-top: 6em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4.3em;
}
.footer-container h2 {
    color: #391400;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 32px;
}
.menu li, .services li, .icons li{
    list-style-type: none;
    color: #391400;
    line-height: 32px;
    font-size: 1em;
    font-weight: normal;
}
.menu li:first-child, .services li:first-child{
    color:  #EF6D58;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 32px;
    font-weight: normal;
}
.icons li {
    display: inline-block;
    color:  #EF6D58;
    font-size: 2em;
    margin: .5em;
}
.footer-text {
    margin: 2.2em auto;
    display: grid;
    grid-template-columns: 70% 15% 15%;
   

}

 

/* media quyeries  */

/* @media screen and (max-width: 480px){
   
    .banner {
        min-width: 100%;
    }
} */

   

@media screen and (max-width: 500px) {

    .contact-btn a {
        display: inline-block;
        margin-right: 20px;
      } 
    .contact-btn {
        width: 138px;
        height: 48px;
        border:none;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 15px;
        text-align: center;
      }
         
.banner {
    max-width: 100%;
    height: 25em;
}
nav {
    position: relative;
}
.banner-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.banner-text h1 {
    font-weight: 800;
    font-size: 3em;
    line-height: 1.3em;
    color: #FFFFFF;
}
.text-desc p {
    display: inline-block;
}
.text-desc {
    color: rgba(255, 255, 255, 0.64);
    line-height: 1.3em;
}
    .card {
        max-width: 20em;
        height: 25em;
     }
     .img-container{
        max-width: 320em;
        height: 15em;
        margin: 0;
        padding: 0;
    }
    .img-container img {
        width: 100%;
        height: auto;
    }
    .card-type {
        display: inline-block;
        font-size: 1.2em;
    } 
    .card-date {
        display: inline-block;
        font-size: 1em;
        margin-top: 12px;
        
    }
    .card-text0 {
        margin-top: -2.5em;
        width: 22.2em;
        word-spacing: normal;
    }
    .card-title1 {
        font-weight: 800;
        font-size: 20px;
        
    }
    
    .card1 {
        max-width: 23em;
        height: 20em;
        margin-bottom: 2em;
    }
    .img-container2{
        width: 20em;
        height: 10em;
    }
    .img-container2 img {
        width: 100%;
        height: 100%;
    }

    .margin-two-side {
        margin-left: 0;
        margin-right: 0;
    } 
  
    .subscription,.banner2 {
         
        display: flex;
        flex-wrap: wrap;
    }
    .subscription input {
        width: 80%; 
        height: 3em;
        margin: .5em auto;
    }
    .subscription h2 {
        margin: .5em auto;
        
    }
    .subscription button {
        margin: .5em auto;
    }
.banner2 {
    width: 100%;
    text-align: center; 
}
.banner2-text {
    width: 30em;
}
.banner2-text h2 {
    font-weight: 800;
    font-size: 3.5em;
    line-height: 1em;
    color: #FFFFFF;
    
}
.banner2-text p {
   width: 80%;
}
.banner2-img{
    width: 16em;
}
.banner2-img img{
    width: 100%;
}
 
.banner2-text p {
    font-size: 1em;
    line-height: 2em;
    
}
.banner2-text button {
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    border-radius: 6px;
    border: none;
    margin-top: 2em;
    padding: 1.3em 2em;
}
 .footer-container {
     grid-auto-columns: auto;
     
 }
.footer-text {
    margin: 2.2em auto;
    display: grid;
   
 }
}
@media screen and (min-width: 500px) {
    
    #blog {
        display:  block;
        margin-right:12em;
    }
   .navbar {
     display: flex;
     justify-content: space-between;
     padding-bottom: 0;
     height: 70px;
     align-items: center;
     z-index: 2;
   }
 
   .main-nav {
     display: flex;
     margin-right: 30px;
     flex-direction: row;
     justify-content: flex-end;
    z-index: 2;
   }
 
   .main-nav li {
     margin: 0;
   }
 
   .nav-links {
     margin-left: 40px;
   }
 
   .logo {
     margin-top: 0;
   }
 
   .navbar-toggle {
     display: none;
   }
 
   .logo:hover,
   .nav-links:hover {
     color: rgba(255, 255, 255, 1);
   }
 }